html,
body {
	/* box-sizing: border-box; */
	margin: 0px;
	padding: 0px;
	font-family: 'TT Lakes';
}

@font-face {
	font-family: 'TT Lakes Bold';
	src: url('./fonts/TTLakes-Black.eot');
	src: local('TT Lakes Italic'), local('TTLakes-Italic'),
		url('./fonts/TTLakes-Italic.eot') format('embedded-opentype'),
		url('./fonts/TTLakes-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('./fonts/TTLakes-Black.eot');
	src: local('TT Lakes Italic'), local('TTLakes-Italic'),
		url('./fonts/TTLakes-Italic.eot') format('embedded-opentype'),
		url('./fonts/TTLakes-Thin.ttf') format('woff');
	font-weight: normal;
}

@media only screen and (min-width:320px) {
	body {
		width: 320px;
	}

	.col1 {
		display: none;
	}

	.call {
		display: none;
	}

	.chat {
		display: none;
	}

	.profil {
		display: none;
	}

	.text-768 {
		display: none;
	}

	.menu-list__item {
		width: 750px;
		padding: 0 25px 0 20px;
	}

	.main {
		flex-direction: column;
	}

	.logo-image {
		padding-bottom: 30px;
	}

	.subtext {
		font-size: 11px;
	}

	.to-left {
		/* margin-left:15px; */
		width: 450px;
		display: flex;
		align-items: center;
		justify-content: space-around;

	}

	.iconR {
		display: none;
	}

	.menu-list__item li:nth-child(2) {
		background: #FFFFFF;
		font-size: 16px;
		padding: 8px 15px 8px 15px;
		letter-spacing: -0.2px;
		border-radius: 6px;
		border: 2px solid #B8FFEC;
	}

	.menu-list__item4 {
		display: none;
	}

	.menu-list__item li:first-child {
		display: none;
		/* margin-right: 5px; */
	}

	.otziv {
		display: none;
	}

	.shapka {
		height: 88px;
	}

}

@media only screen and (min-width:768px) {
	body {
		width: 768px;
	}

	.shapka {
		display: none;
	}

	.col1 {
		display: flex;
	}

	.call {
		display: flex;
	}

	.chat {
		display: flex;
	}

	.profil {
		display: flex;
	}

	.main {
		display: flex;
		flex-direction: row;
	}

	.subtext {
		margin: 20px 20px 0 15px;
		font-size: 12px;
		width: 295px;
	}

	.text-768 {
		display: flex;
	}

	.logo-image {
		border-radius: 8px;
		margin: 30px 0 35px 0;
		width: 360px;
		height: 260px;
		;
	}

	.nav,
	.main,
	.shapka {
		margin-right: 15px;
	}

	.to-left {
		margin-left: 15px;
		width: 200px;
		display: flex;
		align-items: center;
		justify-content: space-around;

	}

	.menu-list__item li {
		margin-right: 5px;
	}

	.menu-list__item4 {
		display: none;
	}

	.menu-list__item li:first-child {
		display: none;
		/* margin-right: 5px; */
	}

	.menu-list__item {
		width: 760px;
		padding-left: 20px;
	}

	.iconR {
		display: none;
	}

	.menu-list__item li:nth-child(2) {
		background: #FFFFFF;
		font-size: 16px;
		padding: 8px 15px 8px 15px;
		letter-spacing: -0.2px;
		border-radius: 6px;
		border: 2px solid #B8FFEC;
	}

	.otziv {
		display: none;
	}

	.shapka {
		height: 88px;
	}

}

@media only screen and (min-width:1120px) {
	body {
		display: none;
		width: 1120px;
	}

	/* header{
		width: 0;
		height: 0;
		display: none;
	} */

	.shapka_menu-icon,
	.shapka_logo,
	.col1,
	.col2,
	.call,
	.chat,
	.profil,
	.search,
	.configur {
		display: none;
	}

	.shapka {
		height: 0;
	}

	.to1120 {
		display: flex;
		justify-content: space-between;
	}

	.iconR {
		display: flex;
		align-items: center;
		width: 420px;
	}

	.iconR-1 {
		font-weight: bold;
		font-family: 'TT Lakes';
		margin: 0 10px 0 0;
	}

	.iconR-2 {
		font-weight: bold;
		margin: 0 10px 0 30px;
	}

	.nav {
		padding-top: 42px;
	}

	.menu-list__item2 {
		display: none;
	}

	.menu-list__item {
		width: 1050px;
	}

	.otziv {
		margin-left: 20px;
		margin-top: -30px;
	}

	.prod:after {
		content: ', что подтверждает большое количество постоянных клиентов. Мы гордимся тем,что к нам обращаются по рекомендациям и,в свою очередь,советуют нас родным и близким.';
	}

	.logo-image {
		width: 530px;
	}

	.subtext {
		width: 530px;
	}

	.menu-list__item li:first-child {
		display: flex;
		/* margin-right: 5px; */
	}

	.menu-list__item1,
	.menu-list__item4 {
		display: flex;
	}

	.menu-list__item li:nth-child(2) {
		background: #F8F8F8;
		font-size: 16px;
		padding: 8px 15px 8px 15px;
		letter-spacing: -0.2px;
		border-radius: 6px;
		border: none;

	}



}

body {
	border: 0.5px solid;
	position: absolute;
	/* width: 320px; */
	display: flex;
	flex-direction: column;
}

.shapka {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* height:88px ; */
	background: #FFFFFF;
}


.to-right {
	margin-right: 15px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.shapka_menu-icon {
	width: 40px;
	height: 40px;

}


.shapka_logo {
	width: 96.55px;
	height: 50.81px;
}



.col1,
.col2 {
	width: 2px;
	height: 32px;
	background: #EAEAEA;
	border-radius: 1px;
}

.configur {
	width: 40px;
	height: 40px;
	background: rgba(255, 62, 121, 1);
	border-radius: 50%;
}

.search {
	width: 40px;
	height: 40px;
	background: rgba(255, 62, 121, 1);
	border-radius: 50%;
}

/* main>>> */



.main {
	display: flex;
	/* flex-direction:column; */
	background: #F8F8F8;


}

.title {
	margin: 24px 0 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 304px;
	height: 40px;
}

.nav {

	background: #F8F8F8;
}

.title span {
	width: 5px;
	height: 40px;
	background: #41F6D7;
	border-radius: 0 4px 4px 0;
}

.title1 {
	font-family: 'TT Lakes Bold';
	font-weight: 800;
	font-style: normal;
	width: 288px;
	margin-left: 16px;
	margin-right: 16px;
	font-size: 28px;
	line-height: 40px;
	font-style: normal;
	letter-spacing: -0./6px;
	color: #1B1C21;
}

.menu-list {

	overflow: auto;
}


.menu-list__item li:first-child {
	background: #FFFFFF;
	font-size: 16px;
	padding: 8px 15px 8px 15px;
	letter-spacing: -0.2px;
	border-radius: 6px;
	border: 2px solid #B8FFEC;

}

.menu-list__item {
	font-weight: 500;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	list-style-type: none;
}


.subtitle {
	font-family: 'TT Lakes';
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	letter-spacing: 0.5px;
	color: #1B1C21;
}

.subtext {
	margin: 20px 55px 20px 25px;

}

.dale {
	display: flex;
	justify-content: start;
	align-items: center;
}

.dale__strelka {
	margin: 0 16px 0 4px;
	width: 8px;
	height: 10.29px;
}

.dale__text {
	font-weight: bold;
	font-family: 'TT Lakes';
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */

	letter-spacing: -0.2px;

	color: #050505;
}