html,
body {
	box-sizing: border-box;
	margin: 0px auto;
	padding: 0px;
}

@font-face {
	font-family: 'TT Lakes Bold';
	src: url('./fonts/TTLakes-Bold.ttf');

}

@font-face {
	font-family: 'TT Lakes';
	src: url('./fonts/TTLakes-Thin.ttf');

}
@font-face {
	font-family: 'TT Lakes Regular';
	src: url('./fonts/TTLakes-Regular.ttf');

}



body {
	/* 	border: 0.5px solid; */
	/* position: absolute; */
	min-width: 320px;
	min-height: 509px;
	display: flex;
	flex-direction: column;
	/* box-shadow: inset 10px 20px 20px 15px rgba(0, 0, 0, 0.2); */
}

.header {
	min-width: 320px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	min-height: 88px;
	background: #FFFFFF;
}

.menu-btn {
	margin-left: 16px;
	margin-right: 16.73px;
}

.header__logo {
	position: relative;
}

button{
	cursor: pointer;
	border-style: none;
	background-color: white;
 }

.header__logo::after {
	content: '';
	background-image: url(./images/divider.svg);
	background-repeat: no-repeat;
	width: 2px;
	height: 32px;
	left: 113.28px;
	/* right: 50%; */
	top: 9.40px;
	position: absolute;
	margin-left: auto;
}

.header__search-btn {
	margin-right: 16px;
	margin-left: 16px;
}

.header__configur-btn {
	margin-left: auto;
}

.header__menu-btn {
	width: 40px;
	height: 40px;
}

.header__menu-btn a {
	display: inline-block;
	width: 50px;
	height: 40px;
	border: none;
	background-color: white;
	text-align: center;

}



.header__logo {
	width: 96.55px;
	height: 50.81px;
}




.header__configur-btn {
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: rgba(255, 62, 121, 1);
	border-radius: 50%;
}

.header__search-btn,
.header__call-btn,
.header__chat-btn,
.header__profil-btn {
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: rgba(255, 62, 121, 1);
	border-radius: 50%;
}

.nav-btn a {
	cursor: pointer;
}

.nav-btn a:hover {
	color: blue;
}

/* main>>> */






.nav {
	display: flex;
	flex-direction: column;
	/* background: #F8F8F8; */
	background: linear-gradient(70deg, #F8F8F8 70.84%, #F8F8F8 90%);
	z-index: 5;
	/* box-shadow: inset -5px 5px 5px 5px rgba(247, 244, 244, 0.1); */
}

.nav__header,
.nav__title {
	display: flex;
}

.nav__title-text {
	font-family: 'TT Lakes Bold';
	font-weight: 800;
	font-style: normal;
	margin-top: 24px;
	margin-left: 16px;
	margin-right: 16px;
	font-size: 28px;
	line-height: 40px;
	font-style: normal;
	letter-spacing: -0.2px;
	color: #1B1C21;
	position: relative;
}

.nav__title-text::before {
	content: '';
	background-image: url(./images/highlight.svg);
	background-repeat: no-repeat;
	width: 4px;
	height: 40px;
	left: -16px;
	top: 0px;
	position: absolute;
}

.menu-list {
	margin-left: 0;
	min-width: 320px;
	overflow: auto;
}


.menu-list__container li:first-child {
	background: #FFFFFF;
	font-size: 16px;
	padding: 8px 15px 8px 15px;
	letter-spacing: -0.2px;
	border-radius: 6px;
	border: 2px solid #B8FFEC;

}

.menu-list__container li {
	white-space: nowrap;
	margin-right: 20px;
}

.menu-list__container {
	margin-left: 16px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	list-style-type: none;
	padding-left: 0;
}

.menu-list__container a:hover {
	color: blue;
}

.menu-list__container a {
	cursor: pointer;
	font-family: 'TT Lakes';
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	font-weight: 700;
	/* identical to box height, or 150% */

	letter-spacing: 0.2px;

	color: black;
}

.main {
	display: flex;
	flex-direction: column;
	background: #F8F8F8;
	align-items: center;


}

.text__first-part,.text__second-part,.text__third-part {
	font-family: 'TT Lakes';
	font-size: 14px;
	font-style: normal;
	font-weight: 900;
	line-height: 18px;
	letter-spacing: 0.2px;
	color: #1B1C21;
}

.main__text-container {
	display: flex;
	flex-basis: fill;
	flex-direction: column;
	margin: 16px 26px 16px 16px;

}

.read-more {
	display: flex;
	justify-content: start;
	align-items: center;
}

.read-more__text {
	border: none;
	background-color: #F8F8F8;
	font-weight: 600;
	font-family: 'TT Lakes Regular';
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1B1C21;;
	cursor: pointer;
	position: relative;
	margin-left: 27px;
}

.read-more__text::before {
	content: '';
	background-image: url(./images/icon.svg);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 7px;
	left: -18px
}


.read-more__text:hover {
	color: blue;
}

.main__image {
	display: flex;
	flex-basis: 100%;
	background: #F8F8F8;		min-height:230px;
	min-width: 320px;
	min-height: 230px;
	display: block;
	/* object-fit: contain; */
	/* margin-top: -30px; */
}



@media screen and (min-width:320px) {

	.header__call-btn,
	.header__chat-btn,
	.header__profil-btn,
	.nav__btn,
	.text__second-part,
	.text__third-part {
		display: none
	}
.main__image{
	width: 100%;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
	 
}

@media screen and (min-width:768px) {

	body {
		min-width: 768px;
		/* margin-right: 0; */
	}

	.header__call-btn,
	.header__chat-btn,
	.header__profil-btn,
	.text__second-part {
		display: block
	}

	.header__logo::after{
		display:none;
	}

	.header>div {
		display: flex;
		/* flex-grow: 1; */
	}

		.menu-btn {
			position: relative;
			margin-left: 24px;
			margin-right: 42px;
		}
	
		.menu-btn::after {
			content: '';
			background-image: url(./images/divider.svg);
			background-repeat: no-repeat;
			width: 2px;
			height: 32px;
			left: 60px;
			top: 4px;
			position: absolute;
		}

	.header__logo {
		display: flex;
		/* flex-grow: 2; */
		margin-right: auto;
	}

	.header__call-btn{
		margin-right:16px ;
	}

		.header__profil-btn {
			position: relative;
			margin-left: 16px;
			margin-right: 42px;
			}
		.header__profil-btn::after {
			content: '';
			background-image: url(./images/divider.svg);
			background-repeat: no-repeat;
			width: 2px;
			height: 32px;
			left: 60px;
			top: 4px;
			position: absolute;
		}

		.header__configur-btn{
			margin-left: 0;
		}

	.header__search-btn{
		margin-right: 40px;
	}

	.nav {

		margin-right: 15px;
	}

	.main {
		flex-direction: row;
		margin-right: 15px;
		padding-top: 0px;
		padding-bottom: 40px;
	}

	.main__image {
		display: flex;
		flex-basis: 50%;
 		/* padding-top: 15px; */
 		border-bottom-left-radius: 10px;
		/* padding: 0; */
		border-top-left-radius: 10px;
		margin-top: 30px;
		margin-right: 25px;
 	 } 

	 

	.text__first-part {
		line-height: 20px;

	}

	.menu-list__container {
		margin-left: 24px;
	}

	.nav__title-text {
		margin-left: 24px;
	}

	.nav__title-text::before {
		left:-24px;
	}

	.main__text-container {
		display: flex;
		flex-basis: 50%;
		align-items:flex-start;
			margin: 0px 18px 16px 24px;
		}


	

}

@media screen and (min-width:1120px) {
	body{
		width: 1120px;
	}

	.header {
		display: none
	}

	.nav,.main{
		margin-right: 0;
	}

	.nav__btn,
 	.text__third-part {
		display: block;
	}

	.nav__btn img{
		margin: 0 32px 0 8px;
	}


	.nav__header,
	.nav__btn,
	.nav__btn a {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
		.nav__title-text::before {
			left: -32px;
		}
		
		.nav__title {
		margin-right: auto;
	}

	.button{
		display: flex;
		align-items: center;
		background-color: #F8F8F8;
 		cursor: pointer;
		font-family: 'TT Lakes Regular';
		font-size: 16px;
		line-height: 24px;
		font-style: normal;
		font-weight: 700;
		/* identical to box height, or 150% */

		letter-spacing: 0.2px;

		color: black;

 	}

	.button:hover{
		color: blue;
	}

	.nav-btn img {
		margin: 0 32px 0 8px;
		width: 40px;
		height: 40px;
	}

	 .menu-list{
		display: flex;
		flex-direction: column;
	 }

	.menu-list::after{
		content:'Отзывы' ;
		font-family: 'TT Lakes';
		font-size: 16px;
		font-weight: 900;
		line-height: 24px;
		letter-spacing: -0.2px;
		margin-left: 56px;
	}

	.main__text-container {
		/* min-width: 305px; */
		margin: -35px 86px 24px 34px;
	}

	.text__third-part{
		display: inline;
	}

	.text__first-part,.text__second-part,.text__third-part {

		line-height: 20px;

	}

	.menu-list__container {
		margin-left: 32px;
	}

	.nav__title-text {
		margin: 0 0 0 32px;
	}

	.nav__header {
		margin-top: 42px;
	}


}
